﻿@{
    /**/

    ViewBag.Title = "Index";
}
@using DemoProject.Models
@model UserModel

<h1>Display Number List </h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <label>Enter Numbers </label>
    @Html.TextBoxFor(m => m.Numbers)
    <input id="Submit" type="submit" value="submit" />

}

<hr />

<strong>Display List of Numbers using Fizz & Buzz:</strong> @Html.DisplayFor(m => m.Numbers)<br />

<table>
        <tr>
            <td>@ViewBag.ResultSet  &nbsp;</td>
        </tr>
</table>
